<h1 class="text-center mt-4">Create a New Category</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
        <!--render errors, define with obj means for the errors partial -->
        <%= render 'form' %>

    </div>
        <div class="mb-3">
        <%= link_to '[Cancel and Return to Categories Listing]', categories_path, class: "text-info" %> 
        </div>
    </div>

</div>